h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.slider h3,
.slider h5,
.clients h3 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.parallax-container {
  height: 20%;
}
.parallax img {
  opacity: 0.8 !important;
  filter: brightness(25%);
}
.clients img {
  max-width: 200px;
  max-height: 50px;
  filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.5));
}
.banner {
  filter: brightness(50%);
}
section {
  padding: 10px 0;
}
.clien {
  padding: 0px;
}
.responsive-img {
  border-radius: 10px;
}
.rounded {
  border-radius: 10px;
}
